<!-- Launches the leg detector from wg-perception (needs to be installed separately) -->
<launch>
    <!-- args -->
    <arg name="detected_persons" default="detected_persons" />
    <arg name="node_prefix" default="leg_tracker" />

    <arg name="detection_id_offset" default="0" />
    <arg name="detection_id_increment" default="1" />
    <arg name="cov_scale" default="0.01" />

    <arg name="fixed_frame" default="base_footprint"/>
    <arg name="scan_frequency" default="15"/>
    <arg name="scan_topic" default="/front_rp/rp_scan_filtered_front"/>
    <arg name="config_file" default="trained_leg_detector_res=0.33.yaml"/>


    <group ns="$(arg node_prefix)">
        <include file="$(find leg_tracker)/launch/joint_leg_tracker.launch">
            <!-- params -->
            <param name="forest_file" value="$(find leg_tracker)/config/$(arg config_file)" />
            <param name="scan_topic" value="$(arg scan_topic)" />
            <param name="fixed_frame" value="$(arg fixed_frame)" />
            <param name="scan_frequency" value="$(arg scan_frequency)" />
        </include>

        <node name="converter" pkg="spencer_detected_person_conversion" type="person_array_to_detected_persons.py" output="screen">
            <param name="detection_id_offset" value="$(arg detection_id_offset)" />
            <param name="detection_id_increment" value="$(arg detection_id_increment)" />
            <param name="use_object_id" value="true" />
            <param name="cov_scale" value="$(arg cov_scale)" />

            <!-- FIXME: I believe the target topic should be people_tracker_measurements (=fused), otherwise we get one
                 detection per single leg, leading to duplicate person tracks. Couldn't test this on SPENCER data, as our
                 sensor is mounted too high to discriminate between two legs of a person. -->
            <remap from="/position_measurements" to="leg_tracker_measurements" />
            <remap from="/spencer/perception/detected_persons" to="$(arg detected_persons)" />
        </node>
    </group>

</launch>