<launch>
    <arg name="front_rp" default="front_rp"/>
    <arg name="back_rp" default="back_rp"/>
  
    <group ns = "$(arg front_rp)">
      <!-- <remap from = "scan_filtered" to ="rp_laser_front_filtered" /> -->
      <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_front">
        <rosparam command="load" file="$(find wheelchair_simulations)/params/laser_front_rp.yaml" />
        <!-- <remap from="scan" to="rp_scan_front" /> -->
        <remap from="scan_filtered"	to="rp_scan_filtered_front"/>
      </node>
    </group>
  
    <group ns = "$(arg back_rp)">
      <!-- <remap from = "scan_filtered" to ="rp_laser_back_filtered" /> -->
      <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_back">
        <rosparam command="load" file="$(find wheelchair_simulations)/params/laser_back_rp.yaml" />
        <!-- <remap from="scan" to="rp_scan_back" /> -->
        <remap from="scan_filtered"	to="rp_scan_filtered_back"/>
      </node>
    </group>

  </launch> 
  