<launch>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_multi">
        <rosparam command="load" file="$(find wheelchair_simulations)/params/scan_multi_filter.yaml" />
        <remap from="scan" to="/scan_multi" />
        <remap from="scan_filtered" to="/scan_multi_filtered" />
    </node>

</launch>