<launch>

    <arg name="world_file" default="$(find wheelchair_simulations)/worlds/just_empty.world"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_file)"/>
    </include>



  <!-- <arg name="model" default="$(find wheelchair_simulations)/models/base_sim_world/model.sdf"/> -->
  <arg name="model" default="$(find wheelchair_simulations)/models/new_sim_world/model.sdf"/>


  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'"/>

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-sdf -param robot_description -model my_base_walls"/>
</launch>
