<launch>

    <node pkg="people_tracker" type="people_tracker.py" name="people_tracker" output="screen">
        <remap from="tracked_persons" to="/spencer/perception/tracked_persons" />
    </node>

    <node pkg="people_tracker" type="move_goal_publisher.py" name="move_goal_publisher" output="screen"/>

    <node pkg="people_tracker" type="laser_tracker_filter.py" name="laser_tracker_filter" output="screen">
        <remap from="scan" to="/front_rp/rp_scan_filtered_front" />
        <remap from="scan_track_filtered" to="/front_rp/track_filtered" />
    </node>

    <node name="controller" pkg="pid" type="controller" output="screen" >
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.5" />
        <param name="upper_limit" value="1.5" />
        <param name="lower_limit" value="0.0" />
        <param name="windup_limit" value="1.0" />
        <param name="max_loop_frequency" value="30.0" />
        <param name="min_loop_frequency" value="5.0" />
        <remap from="setpoint" to="/setpoint" />
        <remap from="state" to="/dist_to_goal" />
        <remap from="control_effort" to="/cmd_vel_controller" />
    </node>
</launch>