<?xml version="1.0"?>
<robot name="wheelchair_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="false"/>
  <xacro:arg name="imu_visual"   default="false"/>
  <xacro:arg name="camera_name"   default="camera"/>

  <gazebo reference="base_footprint">
    <material>Gazebo/DarkGrey</material>
    <sensor name="base_footprint_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>base_footprint_collision</collision>
      </contact>
      <plugin name="base_footprint_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>base_footprint_contact_sensor_state</bumperTopicName>
        <frameName>base_footprint</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/DarkGrey</material>
    <sensor name="base_link_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>base_link_collision</collision>
      </contact>
      <plugin name="base_link_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>base_link_contact_sensor_state</bumperTopicName>
        <frameName>base_link</frameName>
      </plugin>
    </sensor>
  </gazebo>
 
  <gazebo reference="left_big_wheel">
    <mu1>0.4</mu1>
    <mu2>0.4</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.0</minDepth>
    <maxVel>0.1</maxVel>
    <!-- <fdir1>1 0 0</fdir1> -->
    <material>Gazebo/FlatBlack</material>
    <sensor name="left_big_wheel_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>left_big_wheel_collision</collision>
      </contact>
      <plugin name="left_big_wheel_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>left_big_wheel_contact_sensor_state</bumperTopicName>
        <frameName>left_big_wheel</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="right_big_wheel">
    <mu1>0.4</mu1>
    <mu2>0.4</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.0</minDepth>
    <maxVel>0.1</maxVel>
    <!-- <fdir1>1 0 0</fdir1> -->
    <material>Gazebo/FlatBlack</material>
    <sensor name="right_big_wheel_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>right_big_wheel_collision</collision>
      </contact>
      <plugin name="right_big_wheel_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>right_big_wheel_contact_sensor_state</bumperTopicName>
        <frameName>right_big_wheel</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="left_small_wheel">
    <mu1>0.0</mu1>
    <mu2>0.08</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.0</minDepth>
    <maxVel>0.1</maxVel>
    <!-- <fdir1>1 0 0</fdir1> -->
    <material>Gazebo/FlatBlack</material>
    <sensor name="left_small_wheel_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>left_small_wheel_collision</collision>
      </contact>
      <plugin name="left_small_wheel_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>left_small_wheel_contact_sensor_state</bumperTopicName>
        <frameName>left_small_wheel</frameName>
      </plugin>
    </sensor>
  </gazebo>


  <gazebo reference="right_smaal_wheel">
    <mu1>0.0</mu1>
    <mu2>0.08</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <minDepth>0.0</minDepth>
    <maxVel>0.1</maxVel>
    <!-- <fdir1>1 0 0</fdir1> -->
    <material>Gazebo/FlatBlack</material>
    <sensor name="right_smaal_wheel_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>10</update_rate>
      <contact>
        <collision>right_smaal_wheel_collision</collision>
      </contact>
      <plugin name="right_smaal_wheel_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>right_smaal_wheel_contact_sensor_state</bumperTopicName>
        <frameName>right_smaal_wheel</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo>
    <plugin name="wheel_chair_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>true</publishOdomTF>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>left_big_wheel_joint</leftJoint>
      <rightJoint>right_big_wheel_joint</rightJoint>
      <wheelSeparation>0.575</wheelSeparation>
      <wheelDiameter>0.324</wheelDiameter>
      <wheelAcceleration>5.0</wheelAcceleration>
      <wheelTorque>10000</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <frameName>imu_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo reference="rp_laser_front">
    <material>Gazebo/RedBright</material>
    <sensor type="ray" name="lds_lfcd_sensor_front">
      <pose>0.00386881875434386 8.69539989361567E-05 -0.00554963797433417 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>760</samples>
            <resolution>1</resolution>
            <!-- <min_angle>-1.48352</min_angle>
            <max_angle>1.48352</max_angle> -->
            <min_angle>-3.1415</min_angle>
            <max_angle>3.1415</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.20</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
        <!-- <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise> -->
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller_front" filename="libgazebo_ros_laser.so">
        <topicName>front_rp/scan</topicName>
        <frameName>rp_laser_front</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="rp_laser_back">
    <material>Gazebo/Gold</material>
    <sensor type="ray" name="lds_lfcd_sensor_back">
      <pose>-0.00393393719392465 1.45541326387055E-05 -0.00550433759472346 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>760</samples>
            <resolution>1</resolution>
            <!-- <min_angle>0</min_angle>
            <max_angle>4.71238</max_angle> -->
            <min_angle>-3.1415</min_angle>
            <max_angle>3.1415</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.20</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
        <!-- <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise> -->
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller_back" filename="libgazebo_ros_laser.so">
        <topicName>back_rp/scan</topicName>
        <frameName>rp_laser_back</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <link name="camera_gazebo" />
  <joint name="camera_gazebo_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_gazebo"/>
    <origin xyz="0.0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
  </joint>

  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="depth">
      <update_rate>30</update_rate>
      <camera>
        <horizontal_fov>1.5184351666666667</horizontal_fov>
        <vertical_fov>1.0122901111111111</vertical_fov>
        <image>
          <width>848</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.01</near>
          <far>7.0</far>
        </clip>
      </camera>
      <plugin name="rgbd_camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>30</updateRate>
        <!-- <cameraName>camera</cameraName> -->
        <cameraName>/spencer/sensors/rgbd_front_top</cameraName>
        <!-- <imageTopicName>/camera/color/image_raw</imageTopicName> -->
        <imageTopicName>/spencer/sensors/rgbd_front_top/rgb/image_rect_color</imageTopicName>
        <!-- <cameraInfoTopicName>/camera/color/camera_info</cameraInfoTopicName> -->
        <cameraInfoTopicName>/spencer/sensors/rgbd_front_top/depth/camera_info</cameraInfoTopicName>
        <!-- <depthImageTopicName>/camera/depth/image_rect_raw</depthImageTopicName> -->
        <depthImageTopicName>/spencer/sensors/rgbd_front_top/depth/image_rect</depthImageTopicName>
        <!-- <depthImageInfoTopicName>/camera/depth/camera_info</depthImageInfoTopicName> -->
        <!-- <depthImageCameraInfoTopicName>/spencer/sensors/rgbd_front_top/depth/camera_info</depthImageCameraInfoTopicName> -->
        <depthImageCameraInfoTopicName>/spencer/sensors/rgbd_front_top/rgb/camera_info</depthImageCameraInfoTopicName>
        <!-- <pointCloudTopicName>/camera/depth/points</pointCloudTopicName> -->
        <pointCloudTopicName>/spencer/sensors/rgbd_front_top/depth/points</pointCloudTopicName>
        <frameName>camera_gazebo</frameName>
        <pointCloudCutoff>0.1</pointCloudCutoff>
        <pointCloudCutoffMax>7.0</pointCloudCutoffMax>
        <distortionK1>0.00000000</distortionK1>
        <distortionK2>0.00000000</distortionK2>
        <distortionK3>0.00000000</distortionK3>
        <distortionT1>0.00000000</distortionT1>
        <distortionT2>0.00000000</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>

</robot>
