<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="start_frame" default="world" />
    <arg name="end_frame" default="haro_base_link" />
    
    <node name="tf_listener_node" pkg="haro_description" type="tf_world_listener.py" args="$(arg start_frame) $(arg end_frame)" output="screen"/>
</launch>